<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinalData.Properties.Settings.GeneralConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\General.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FinalData.Properties.Settings.FinalConnectionString"
            connectionString="Data Source=DESKTOP-0ROD6UC;Initial Catalog=Final;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>